.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.profileDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  height: 150px;
  width: 150px;
}
